[submodule "packages/vault"]
	path = packages/vault
	url = https://github.com/MichaelLod/byoky-vault.git
[submodule "packages/relay"]
	path = packages/relay
	url = https://github.com/MichaelLod/byoky-relay.git
